<nav class="navigation">
    <ul>
        <li>
            <a class='list-item' ng-click="$ctrl.goTo('home')" href="" data-location="home">
                <i class='fa fa-home'></i>
            </a>
        </li>
        <li>
            <a class='list-item' ng-click="$ctrl.goTo('about-me')" href="" data-location="about-me">
                <i class='fa fa-child'></i>
            </a>
        </li>
        <li>
            <a class='list-item' ng-click="$ctrl.goTo('cool-html5-features')" href="" data-location="cool-html5-features">
                <i class='fa fa-html5'></i>
            </a>
        </li>
        <li>
            <a class='list-item' ng-click="$ctrl.goTo('css3-useful-modules')" href="" data-location="css3-useful-modules">
                <i class='fa fa-css3'></i>
            </a>
        </li>
        <li>
            <a class='list-item' ng-click="$ctrl.goTo('needed-otpimizations')" href="" data-location="needed-otpimizations">
                <i class='fa fa-line-chart'></i>
            </a>
        </li>
        <li>
            <a class='list-item' ng-click="$ctrl.login()" href=''>
                <i class='fa fa-sign-in'></i>
            </a>
        </li>
    </ul>
</nav>
